.admin-bar {
    .headroom {
        @apply lg:top-8;

        &--top {
            @apply top-[46px] lg:top-8;
        }
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
	@apply fixed w-full py-4 bg-black text-white z-20 top-0;

    &--pinned {
        transform: translateY(0%);
    }

    &--unpinned {
        transform: translateY(-100%);
    }
}

.header {
    &__wrapper {
        @apply flex justify-between;
    }

    &__nav {
        @apply hidden lg:block;
    }

    &__nav-list {
        @apply flex;
    }

    &__nav-link {
        @apply px-4;
        &:last-of-type {
            @apply pr-0;
        }
    }
}

.menu {
	@apply pointer-events-none bg-black md:hidden fixed top-0 bottom-0 w-full transform duration-500 ease-in-out translate-x-[100%] z-10 lg:hidden;

	&__inner {
		@apply p-4 space-y-2 sm:px-3 flex flex-col justify-end h-full;
	}

    &__trigger {
        @apply flex lg:hidden transform transition-all duration-300;
    }

    .menu-item {
        @apply mb-4;
        &:last-of-type {
            @apply mb-0;
        }
    }
}

.menu-active {
    @apply overflow-hidden;

    .menu__trigger {
        @apply -rotate-45;
    }

    .menu {
        @apply pointer-events-auto;
    }
}

.mobile-nav-item {
	@apply text-white block text-3xl;
}