.accordion {
  &__item {
    @apply bg-white border border-gray-200 overflow-hidden;
    &:not(:first-of-type) {
      @apply border-t-0;
    }
  }
  &__header {
    @apply mb-0;
  }
  &__button {
    @apply relative flex items-center justify-between w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none focus:outline-none;
    svg {
      @apply transition-transform duration-300;
    }
    &[aria-expanded='true'] {
      svg {
        @apply transform -rotate-180;
      }
    }
  }
  &__collapse {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    &.collapsed {
      max-height: 0;
    }
  }
  &__body {
    @apply py-4 px-5;
  }
}
