.post-grid {
  &__grid {
    @apply grid gap-6 grid-cols-1;

    &--cols-2 {
      @apply lg:grid-cols-2;
    }
    &--cols-3 {
      @apply lg:grid-cols-3;
    }
    &--cols-4 {
      @apply lg:grid-cols-4;
    }
  }
}
