<div class="banner">
	<div class="banner__container">
		<div class="banner__inner">
			<p>Welcome to TKTK, click <a href="https://tktk.brittonwalker.site/components/" target="_blank">here</a> to see components.</p>
			<button class="banner__close">
				{% include 'svg/close.twig' %}
			</button>
		</div>
	</div>
</div>