<footer class="site-footer">
	<div class="container">
		<div class="site-footer__grid">
			<div class="site-footer__left">
				<p>TKTK is a starter WordPress theme to get you up and going fast. It uses Timber, Twig, and Tailwindcss to get you running at full speed. Check out the components page to see more some standard frontend components or get started building your own!</p>
			</div>
		</div>
		© {{"now"|date('Y')}} TKTK Corp. All rights reserved.
	</div>
</footer>