<div class="w-full">
  <div class="w-full aspect-[576/383] bg-gray-300"></div>
  <div class="mt-4 space-y-3">
    <div class="h-5 bg-gray-300 rounded w-3/4"></div>
    <div class="h-4 bg-gray-300 rounded w-5/6"></div>
    <div class="h-4 bg-gray-300 rounded w-2/3"></div>
  </div>
</div>