<div class="hidden" data-list>
  <table class="w-full border-collapse">
    <thead>
        <tr class="">
            <th class="py-3 text-left text-gray-600">Date</th>
            <th class="py-3 text-left text-gray-600">Project</th>
            <th class="py-3 text-left text-gray-600">Type</th>
            <th class="py-3 text-left text-gray-600">Location</th>
        </tr>
    </thead>
    <tbody>
      {% for i in 0..40 %}            
        <tr class="border-b border-gray-200">
            <td class="py-3"><div class="h-4 w-16 bg-gray-300"></div></td>
            <td class="py-3"><div class="h-4 w-48 bg-gray-300"></div></td>
            <td class="py-3"><div class="h-4 w-32 bg-gray-300"></div></td>
            <td class="py-3"><div class="h-4 w-32 bg-gray-300"></div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>