<div class="container">
	<div class="code-block__top">
		<div class="code-block__heading">{{ title }}</div>
		<div class="toggle-switch">
			<div class="toggle-switch__wrapper">
				<button class="toggle-switch__btn active" data-preview="preview">Preview</button>
				<button class="toggle-switch__btn" data-preview="code">Code</button>
				<span class="toggle-switch__observer"></span>
			</div>
		</div>
	</div>
</div>
