<div class="modal" id="modal-1">
	<div class="modal__inner">
		<h3 class="text-3xl tracking-tight font-extrabold">Modal heading</h3>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic id deleniti officia quo eos ipsa magnam maiores sit, velit fugiat blanditiis quasi porro consequatur debitis! Ipsam inventore aut ea earum.</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic id deleniti officia quo eos ipsa magnam maiores sit, velit fugiat blanditiis quasi porro consequatur debitis!</p>
		<button class="modal__close">
			{% include 'svg/close.twig' %}
		</button>
	</div>
</div>