/* Tailwind Styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* // Typography */
/* @import './app/typography';

// Component Styles
@import './app/animations';
@import './app/article';
@import './app/banner';
@import './app/buttons';
@import './app/container';
@import './app/content';
@import './app/footer';
@import './app/header';
@import './app/hero-centered';
@import './app/hero-full';
@import './app/hero-split';
@import './app/modal';
@import './app/page-transition';
@import './app/post-grid-row';
@import './app/post-grid';
@import './app/post-tease'; */
